{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        

        <title>PDF Generado</title>

        <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
        <!-- Custom fonts for this template -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link
        href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    </head>
    <body>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table border="1" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <!-- Tipo de Movimiento	Fecha de Movimiento	Concepto	Valor	Comprobante/Detalle -->
                                                <th>Fecha de Registro</th>
                                                <th>Tipo de Movimiento</th>
                                                {% if user.is_authenticated and user|has_group:"Administrador" %}
                                                    <th>Unidad Productiva</th>
                                                    
                                                {% endif %}
                                                {% if user.is_authenticated and user|has_group:"Auditor" %}
                                                <th>Unidad Productiva</th>
                                                {% endif %}
                                                <th>Concepto</th>
                                                <th>Valor</th>
                                                <th>Estado</th>
                                                <th>Comprobante/Detalle</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for movimiento in data_movimientos %}
                                                <tr>
                                                    <td>{{ movimiento.fecha_registro }}</td>
                                                    {% if movimiento.tipo_ingreso == 'OUT' %}
                                                        <td>Egreso</td>
                                                    {% elif movimiento.tipo_ingreso == 'IN' %}
                                                        <td>Ingreso</td>
                                                    {% else %}
                                                        <td>Desconocido</td>
                                                    {% endif %}
                                                    {% if user.is_authenticated and user|has_group:"Administrador" %}
                                                        <td>{{movimiento.unidad_productiva.nombre}}</td>
                                                    {% endif %}
                                                    {% if user.is_authenticated and user|has_group:"Auditor" %}
                                                        <td>{{movimiento.unidad_productiva.nombre}}</td>
                                                    {% endif %}
                                                    <td>{{ movimiento.concepto }}</td>
                                                    <td>{{ movimiento.valor }}</td>
                                                    <td>{{ movimiento.estado }}</td>
                                                    <td>
                                                        <b>
                                                            {% if movimiento.comprobante_factura %}
                                                            <div><a href="{{ server_url }}movimiento/comprobante/{{ movimiento.pk }}" target="_blank">
                                                                Comprobante /
                                                            </a></div>
                                                                
                                                            {% else %}
                                                            <div><input class="btn btn-block btn-primary mb-1" style="color: #fff;" value="Comprobante" disabled></div>
                                                                
                                                            {% endif %}
                                                            {% if user.is_authenticated and user|has_group:"Auditor" and not movimiento.estado == 'Aprobado' %}
                                                            <div><a href="{{ server_url }}movimiento/detalle/{{ movimiento.pk }}">
                                                                    Auditar
                                                                </a></div>
                                                            {% else %}
                                                            <div>
                                                                <a href="{{ server_url }}movimiento/detalle/{{ movimiento.pk }}">
                                                                    Detalle
                                                                </a>
                                                            </div>
                                                                
                                                            {% endif %}
                                                        </b>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        

                        <script>
                            $(document).ready(function () {
                                // Inicializar la tabla
                                var tabla = $('#dataTable').DataTable({order: [[ 0, "desc" ]]});

                                                        // Aplicar el filtro cuando cambie el valor del select
                                $('#filtro').on('change', function() {
                                    var valor = $(this).val();
                        
                                    // Limpiar el filtro si no se selecciona ninguna opción
                                    if (valor === '') {
                                        tabla.column(1).search('').draw();
                                    } else {
                                        tabla.column(1).search(valor).draw();
                                    }
                                });
                            });
                        </script>
                        <script>
                            $(document).ready(function() {
                                // Inicializar la tabla
                                var tabla2 = $('#dataTable').DataTable();
                        
                                // Aplicar el filtro cuando cambie el valor del select
                                $('#filtro2').on('change', function() {
                                    var valor = $(this).val();
                        
                                    // Limpiar el filtro si no se selecciona ninguna opción
                                    if (valor === '') {
                                        tabla2.column(2).search('').draw();
                                    } else {
                                        tabla2.column(2).search(valor).draw();
                                    }
                                });
                            });
                        </script>
                        

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->


            </div>
            <!-- End of Content Wrapper -->

            <script>
                $(document).ready(function () {
                    // Inicializar la tabla
                    var dataTable = $('#dataTable').DataTable(order);
                    tabla.order( [ 0, 'asc' ] ).draw();

                    // Aplicar el filtro cuando cambie el valor del select
                    $('#filtro').on('change', function () {
                        var valor = $(this).val();

                        // Limpiar el filtro si no se selecciona ninguna opción
                        if (valor === '') {
                            dataTable.column(1).search('').draw();
                        } else {
                            dataTable.column(1).search(valor).draw();
                        }
                    });
                });


            </script>


            <!-- Bootstrap core JavaScript-->
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

            <!-- Core plugin JavaScript-->
            <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

            <!-- Page level plugins -->
            <!-- Page level custom scripts -->
            <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
            <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
            <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
            

        </body>