{% extends "./index.html" %}
{% block body %}
{% load auth_extras %}
{% load static %}

<head>

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->
    
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>

    <script>
        function filter_ingresos(tipo) {
            if (tipo == 'limpiar'){
                var daterange = document.getElementById('daterange').value = '';
                {% if user.is_authenticated and user|has_group:"Administrador" %}
                var usuario_comun = document.getElementById('usuario_comun').value = '';
                {% endif %}
                {% if user.is_authenticated and user|has_group:"Auditor" %}
                var usuario_comun = document.getElementById('usuario_comun').value = '';
                {% endif %}

            }
            else{
                var daterange = document.getElementById('daterange').value;
                {% if user.is_authenticated and user|has_group:"Administrador" %}
                var usuario_comun = document.getElementById('usuario_comun').value;
                {% endif %}
                {% if user.is_authenticated and user|has_group:"Auditor" %}
                var usuario_comun = document.getElementById('usuario_comun').value;
                {% endif %}
            }
        
        $.ajax({
            url: "{{ server_url }}get_filtred_data/",
            type: "GET",
            data: {
                'daterange': daterange,
                'unidad_productiva': unidad_productiva,
                'unidad_negocio': unidad_negocio,
                {% if user.is_authenticated and user|has_group:"Administrador" %}

                'usuario_comun': usuario_comun,
                {% endif %}
            }//,
            //success: function (data) {}
        
        
        
        })
        
        
        }
    </script>
    <script>
        function filter(tipo) {
            if (tipo == 'limpiar') {
                var data_line;
                var daterange = document.getElementById('daterange').value = '';
                var unidad_productiva = document.getElementById('sub_centro_costo').value = '';
                var unidad_negocio = document.getElementById('centro_costo').value = '';
                {% if user.is_authenticated and user|has_group:"Comun" %}
                
                var usuario_comun = document.getElementById('usuario_comun').value = '';

                {% endif %}
            }
            else{
                var data_line;
                var daterange = document.getElementById('daterange').value;
                var unidad_productiva = document.getElementById('sub_centro_costo').value;
                var unidad_negocio = document.getElementById('centro_costo').value;
                {% if user.is_authenticated and user|has_group:"Comun" %}
                
                var usuario_comun = document.getElementById('usuario_comun').value;

                {% endif %}
            }

            console.log(daterange)
            console.log(unidad_productiva)
            console.log(unidad_negocio)
            console.log(usuario_comun)
            

            

            $.ajax({
                url: "{{ server_url }}get_filtred_data/",
                type: "GET",
                data: {
                    'daterange': daterange,
                    'unidad_productiva': unidad_productiva,
                    'unidad_negocio': unidad_negocio,
                    {% if user.is_authenticated and user|has_group:"Comun" %}

                    'usuario_comun': usuario_comun,
                    {% endif %}
                },
                success: function (data) {
                    data_line = data;
                    myLineChart.data.labels = data_line.fechas ;
                    //myLineChart.data.datasets[0].data = data_line.ingresos_chart;
                    myLineChart.data.datasets.data = data_line.egresos_chart;
                    myLineChart.update();

                    myLineChart.data.labels = data_line.fechas ;
                    //myLineChart.data.datasets[0].data = data_line.ingresos_chart;
                    myLineChart.data.datasets.data = data_line.egresos_chart;
                    myLineChart.update();
                    //myPieChart.data.datasets[0].data = [data_line.pie_ingresos, data_line.pie_egresos];
                    //myPieChart.update();


                    myLineChart2.data.labels = data_line.fechas_ingreso ;
                    //myLineChart.data.datasets[0].data = data_line.ingresos_chart;
                    myLineChart2.data.datasets.data = data_line.ingresos_chart;
                    myLineChart2.update();

                    var valuetopegresos = document.getElementById('valuetopegresos');
                    valuetopegresos.innerHTML = data_line.top_3_egresos_centrocostos[0].suma_valor;
                    var labeltopegresos = document.getElementById('labeltopegresos');
                    labeltopegresos.innerHTML = data_line.top_3_egresos_centrocostos[0].sub_centro_costo;
                    var lista = data_line.top_3_egresos_centrocostos;
                    var seccionHtml = '';

                    for (var i = 0; i < lista.length; i++) {
                        var dato = lista[i];
                        
                        seccionHtml += '<tr>' +
                            '<td style="width: 30%">' +
                                '<p class="mb-0">' + dato.sub_centro_costo + '</p>' +
                            '</td>' +
                            '<td style="width: 25%">' +
                                '<h5 class="mb-0">' + dato.suma_valor + '</h5>' +
                            '</td>' +
                            '<td>' +
                                '<div class="progress bg-transparent progress-sm">' +
                                    '<div class="progress-bar bg-success rounded" role="progressbar" style="width: ' + dato.with + '%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">' +
                                    '</div>' +
                                '</div>' +
                            '</td>' +
                        '</tr>';
                    }
                    var contenedor = document.getElementById('topegresos_centrocostos_contendor');
                    contenedor.innerHTML = seccionHtml;

                    var value_top_ingresos = document.getElementById('value_top_ingresos');
                    value_top_ingresos.innerHTML = data_line.top_3_ingresos[0].suma;
                    var label_top_ingresos = document.getElementById('label_top_ingresos');
                    label_top_ingresos.innerHTML = data_line.top_3_ingresos[0].unidad_productiva;
                    var lista_egresos = data_line.top_3_ingresos;
                    var seccionHtml = '';
                    for (var i = 0; i < lista.length; i++) {
                        var dato2 = lista_egresos[i];
                        var unidad_prod_e = dato2.unidad_productiva;
                        var unidad_prod_e_value = dato2.suma;
                        
                        seccionHtml += '<tr>' +
                            '<td style="width: 30%">' +
                                '<p class="mb-0">' + unidad_prod_e + '</p>' +
                            '</td>' +
                            '<td style="width: 25%">' +
                                '<h5 class="mb-0">' + unidad_prod_e_value + '</h5>' +
                            '</td>' +
                            '<td>' +
                                '<div class="progress bg-transparent progress-sm">' +
                                    '<div class="progress-bar bg-primary rounded" role="progressbar" style="width: ' + dato.with + '%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">' +
                                    '</div>' +
                                '</div>' +
                            '</td>' +
                        '</tr>';
                    }


                    var value_top_egresos = document.getElementById('value_top_egresos');
                    value_top_egresos.innerHTML = data_line.top_3_egresos[0].suma;
                    var label_top_egresos = document.getElementById('label_top_egresos');
                    label_top_egresos.innerHTML = data_line.top_3_egresos[0].unidad_productiva;
                    var lista_egresos = data_line.top_3_egresos;
                    var seccionHtml = '';
                    for (var i = 0; i < lista.length; i++) {
                        var dato = lista_egresos[i];
                        
                        seccionHtml += '<tr>' +
                            '<td style="width: 30%">' +
                                '<p class="mb-0">' + dato.unidad_productiva + '</p>' +
                            '</td>' +
                            '<td style="width: 25%">' +
                                '<h5 class="mb-0">' + dato.suma + '</h5>' +
                            '</td>' +
                            '<td>' +
                                '<div class="progress bg-transparent progress-sm">' +
                                    '<div class="progress-bar bg-primary rounded" role="progressbar" style="width: ' + dato.with + '%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">' +
                                    '</div>' +
                                '</div>' +
                            '</td>' +
                        '</tr>';
                    }

                    

                }})
            
    
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdown = document.querySelector('.dropdown');
            var toggleButton = dropdown.querySelector('.toggle-button');
            var menu = dropdown.querySelector('.menu');

            toggleButton.addEventListener('click', function () {
                dropdown.classList.toggle('open');
            });

            menu.addEventListener('click', function (e) {
                e.stopPropagation();
            });

            document.addEventListener('click', function () {
                dropdown.classList.remove('open');
            });
        });

    </script>


</head>

<body>

    <!-- Page Wrapper -->
    

        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <!-- <div id="content"> -->

                

                <!-- Begin Page Content -->
                <!-- <div class="container-fluid"> -->

                    <!-- Page Heading -->
                    <div class="dropdown"> 
                        <ui class="menu2">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label >Ingrese un rango de fechas:</label>
                                            <input type="text" name="daterange" id="daterange" style="width:100%; box-sizing: border-box;"
                                            class="input-group col-auto mb-3 " value="" />
                    
                                        </div>
                    
                                        <div class="col-sm-3">
                                            <label>Selecciona la unidad de negocio</label>
                                            <select id="centro_costo" name="centro_costo" class="input-group col-auto mb-3 "
                                                style="width:100%; box-sizing: border-box;"  required
                                                autocomplete="off">
                                                <option value=""> - </option>
                                                {% for centro in centros %}
                                                <option value="{{centro}}">{{centro}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                    
                                        <div class="col-sm-3">
                                            <label>Selecciona la unidad productiva</label>
                                            <select id="sub_centro_costo" name="sub_centro_costo" class="input-group col-auto mb-3"
                                                style="width:100%; box-sizing: border-box;" aria-label="Default select example" required
                                                autocomplete="off">                                           
                                                {% for opcion in subcentros %}
                                                <option value="{{ opcion }}">{{ opcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        

                                        
                    
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-primary" id="filtrar" style="vertical-align:top;" onclick="filter()">Filtrar</button>
                                            <button type="button" class="btn btn-primary" id="filtrar" style="vertical-align: bottom;" onclick="filter('limpiar')">Limpiar</button>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- end row -->
                                </div>
                            </div>
                        </ui>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Egresos Acumulados</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myAreaChart" style="display: block; width: 413px; height: 320px;" width="413" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Ingresos Acumulados</h6>
                                    <input id="usuario_comun" name="usuario_comun" type="hidden" value = "{{usuario_comun.pk}}" />
                                    
                                </div>
                                {% if user.is_authenticated and user|has_group:"Auditor" %}

                                <div class="col-sm-12">
                                    <label>Selecciona Usuario Común</label>
                                    <select id="usuario_comun" name="usuario_comun" class="col-auto mb-3"
                                        style="width:100%; box-sizing: border-box;" aria-label="Default select example" required
                                        autocomplete="off">
                                        <option value=""> - </option>
                                        {% for usuario in usuarios_comun %}
                                        <option value="{{usuario.pk}}">{{usuario.nombre}} {{usuario.apellido}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% endif %}

                                {% if user.is_authenticated and user|has_group:"Administrador" %}

                                <div class="col-sm-12">
                                    <label>Selecciona Usuario Común</label>
                                    <select id="usuario_comun" name="usuario_comun" class="col-auto mb-3"
                                        style="width:100%; box-sizing: border-box;" aria-label="Default select example" required
                                        autocomplete="off">
                                        <option value=""> - </option>
                                        {% for usuario in usuarios_comun %}
                                        <option value="{{usuario.pk}}">{{usuario.nombre}} {{usuario.apellido}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% endif %}
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myAreaChart2" style="display: block; width: 413px; height: 320px;" width="413" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Porcentaje de Ingresos/Egresos vs Total</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myPieChart" width="276" height="245" style="display: block; width: 276px; height: 245px;" class="chartjs-render-monitor"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Ingresos (%)
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Egresos (%)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="display: flex;">
                        <!-- Costos Pie Chart -->
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Egresos Subcentro de Costos</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3 id="valuetopegresos">{% for item in top_3_egresos_centrocostos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma_valor}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p id="labeltopegresos">
                                            {% for item in top_3_egresos_centrocostos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.sub_centro_costo}}
                                            {% endif %}
                                            {% endfor %} </p>
                                        </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody id="topegresos_centrocostos_contendor">
                                                
                                                {% for uprod in top_3_egresos_centrocostos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.sub_centro_costo}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.sub_centro_costo}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-success rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Ingreso Unidades Productivas</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3 id="value_top_ingresos">{% for item in top_3_ingresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p id="label_top_ingresos">
                                            {% for item in top_3_ingresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.unidad_productiva}}
                                            {% endif %}
                                            {% endfor %} </p>
                                        </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody>
                                                
                                                {% for uprod in top_3_ingresos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.unidad_productiva}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.suma_valor}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-primary rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Egreso Unidades Productivas</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3 id="value_top_egresos">{% for item in top_3_egresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p id="label_top_egresos">
                                            {% for item in top_3_egresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.unidad_productiva}}
                                            {% endif %}
                                            {% endfor %} </p>
                                    </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody>
                                                
                                                {% for uprod in top_3_egresos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.unidad_productiva}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.suma}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-danger rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- </div> -->
                <!-- /.container-fluid -->

            <!-- </div> -->
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->

    
    <!-- End of Page Wrapper -->

    

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>-->
    <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>

    

    <script>
        var centro_costo = document.getElementById('centro_costo');
        var sub_centro_costo = document.getElementById('sub_centro_costo');
        var subcentros = "{{centros}}";
        subcentros = subcentros.replace(/&#x27;/g, '"');
        subcentros = subcentros.replace(/""/g, "''");
        subcentros = subcentros.replace(/None/g, '"none"');
        subcentros = JSON.parse(subcentros);
        centro_costo.addEventListener('change', function () {
            var seleccion = centro_costo.value;
            sub_centro_costo.innerHTML = '';
            var opcion_html_default = '<option value="">' + " - " + '</option>';
            sub_centro_costo.innerHTML += opcion_html_default;
            subcentros[seleccion].forEach(function (centros_id, opcion) {
                var opcion_html = '<option value="' + centros_id + '">' + centros_id + '</option>';
                sub_centro_costo.innerHTML += opcion_html;
            });
            
        });

        // Cargar el primer centro de costo y sus subcentros correspondientes
        var primerCentroCosto = centro_costo.options[1].value; // Obtener el valor del primer centro de costo (asumiendo que el índice 1 corresponde al primero)
        cargarSubcentros(primerCentroCosto); // Llamar a la función para cargar los subcentros correspondientes al primer centro de costo

        // Función para cargar los subcentros de costo correspondientes a un centro de costo seleccionado
        function cargarSubcentros(centroSeleccionado) {
            sub_centro_costo.innerHTML = ''; // Limpiar las opciones anteriores
            var opcion_html_default = '<option value="">' + " - " + '</option>';
            sub_centro_costo.innerHTML += opcion_html_default;
            subcentros[centroSeleccionado].forEach(function (data_centros_id, opcion) {
                var opcion_html = '<option value="' + opcion + '">' + data_centros_id + '</option>';
                sub_centro_costo.innerHTML += opcion_html;
            });
            
        }
        centro_costo.dispatchEvent(new Event('change'));
    </script>

    



</body>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
// *     example: number_format(1234.56, 2, ',', ' ');
// *     return: '1 234,56'
number = (number + '').replace(',', '').replace(' ', '');
var n = !isFinite(+number) ? 0 : +number,
prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
s = '',
toFixedFix = function(n, prec) {
var k = Math.pow(10, prec);
return '' + Math.round(n * k) / k;
};
// Fix for IE parseFloat(0.55).toFixed(0) = 0;
s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
if (s[0].length > 3) {
s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
}
if ((s[1] || '').length < prec) {
s[1] = s[1] || '';
s[1] += new Array(prec - s[1].length + 1).join('0');
}
return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
const myLineChart = new Chart(ctx, {
type: 'line',
data: {
labels: [{%for data in fechas %}'{{data}}',{% endfor %}],
datasets: [
{
    label: "Egresos acumulados",
    lineTension: 0.3,
    backgroundColor: "rgba(78, 115, 223, 0.05)",
    borderColor: "rgb(217, 3, 104)",
    pointRadius: 3,
    pointBackgroundColor: "rgb(217, 3, 104)",
    pointBorderColor: "rgb(217, 3, 104)",
    pointHoverRadius: 3,
    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
    pointHoverBorderColor: "rgb(217, 3, 104)",
    pointHitRadius: 10,
    pointBorderWidth: 2,
    data: [{%for data in egresos_chart %}{{ data }}, {% endfor %}]
}],
},
options: {
    maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
                right: 25,
                    top: 25,
                        bottom: 0
        }
    },
    scales: {
        xAxes: [{
            time: {
                unit: 'date'
            },
            gridLines: {
                display: false,
                drawBorder: false
            },
            ticks: {
                maxTicksLimit: 7
            }
        }],
            yAxes: [{
                ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                    // Include a dollar sign in the ticks
                    callback: function (value, index, values) {
                        return '$' + number_format(value);
                    }
                },
                gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                }
            }],
},
    legend: {
        display: false
    },
    tooltips: {
        backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
                titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                        titleFontSize: 14,
                            borderColor: '#dddfeb',
                                borderWidth: 1,
                                    xPadding: 15,
                                        yPadding: 15,
                                            displayColors: false,
                                                intersect: false,
                                                    mode: 'index',
                                                        caretPadding: 10,
                                                            callbacks: {
            label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
    }
}
});


</script>


<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
// *     example: number_format(1234.56, 2, ',', ' ');
// *     return: '1 234,56'
number = (number + '').replace(',', '').replace(' ', '');
var n = !isFinite(+number) ? 0 : +number,
prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
s = '',
toFixedFix = function(n, prec) {
var k = Math.pow(10, prec);
return '' + Math.round(n * k) / k;
};
// Fix for IE parseFloat(0.55).toFixed(0) = 0;
s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
if (s[0].length > 3) {
s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
}
if ((s[1] || '').length < prec) {
s[1] = s[1] || '';
s[1] += new Array(prec - s[1].length + 1).join('0');
}
return s.join(dec);
}

// Area Chart Example
var ctx2 = document.getElementById("myAreaChart2");
const myLineChart2 = new Chart(ctx2, {
type: 'line',
data: {
labels: [{%for data in fechas_ingreso %}'{{data}}',{% endfor %}],
datasets: [
{
    label: "Ingresos acumulados",
    lineTension: 0.3,
    backgroundColor: "rgba(78, 115, 223, 0.05)",
    borderColor: "rgb(217, 3, 104)",
    pointRadius: 3,
    pointBackgroundColor: "rgb(217, 3, 104)",
    pointBorderColor: "rgb(217, 3, 104)",
    pointHoverRadius: 3,
    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
    pointHoverBorderColor: "rgb(217, 3, 104)",
    pointHitRadius: 10,
    pointBorderWidth: 2,
    data: [{%for data in ingresos_chart %}{{ data }}, {% endfor %}]
}],
},
options: {
    maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
                right: 25,
                    top: 25,
                        bottom: 0
        }
    },
    scales: {
        xAxes: [{
            time: {
                unit: 'date'
            },
            gridLines: {
                display: false,
                drawBorder: false
            },
            ticks: {
                maxTicksLimit: 7
            }
        }],
            yAxes: [{
                ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                    // Include a dollar sign in the ticks
                    callback: function (value, index, values) {
                        return '$' + number_format(value);
                    }
                },
                gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                }
            }],
},
    legend: {
        display: false
    },
    tooltips: {
        backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
                titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                        titleFontSize: 14,
                            borderColor: '#dddfeb',
                                borderWidth: 1,
                                    xPadding: 15,
                                        yPadding: 15,
                                            displayColors: false,
                                                intersect: false,
                                                    mode: 'index',
                                                        caretPadding: 10,
                                                            callbacks: {
            label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
    }
}
});


</script>

<script>

        // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
// *     example: number_format(1234.56, 2, ',', ' ');
// *     return: '1 234,56'
number = (number + '').replace(',', '').replace(' ', '');
var n = !isFinite(+number) ? 0 : +number,
prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
s = '',
toFixedFix = function(n, prec) {
var k = Math.pow(10, prec);
return '' + Math.round(n * k) / k;
};
// Fix for IE parseFloat(0.55).toFixed(0) = 0;
s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
if (s[0].length > 3) {
s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
}
if ((s[1] || '').length < prec) {
s[1] = s[1] || '';
s[1] += new Array(prec - s[1].length + 1).join('0');
}
return s.join(dec);
}
</script>


<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Ingresos","Egresos"],
        datasets: [{
            data: [{{ pie_ingresos }}, {{ pie_egresos }}],
            backgroundColor: ['#1cc88a','#ef233c'],
            hoverBackgroundColor: ['#1cc88a','#ef233c'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
        },
        legend: {
            display: false
        },
        cutoutPercentage: 80,
    },
});

</script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    const colores = ['#ff0000','#ff8700','#ffd300','#deff0a','#a1ff0a','#0aff99','#0aefff','#147df5','#580aff','#be0aff']
    const labels = [{%for data in pie_centrocostos %}'{{ data.sub_centro_costo }}', {% endfor %}]
    const backgroundColor = [];
    for (i=0; i<labels.length;i++){
        const color = colores[Math.floor(Math.random() * 10)];
        backgroundColor.push(color)
    }
    // Pie Chart Example
    var ctx = document.getElementById("costosPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: [{%for data in pie_centrocostos %}{{ data.suma_valor }}, {% endfor %}],
                backgroundColor: backgroundColor,
                hoverBackgroundColor: backgroundColor,
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: true
            },
            cutoutPercentage: 80,
        },
    });
    
    </script>

    



<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript">
moment.locale('es');
$('input[name="daterange"]').daterangepicker(
{
    locale: {
      format: 'YYYY-MM-DD'
    },
    startDate: '2023-01-01',
    endDate: '2023-12-31'
});


</script>


{% endblock %}