{% extends "./index.html" %}
{% block body %}
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Charts</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Page Wrapper -->
    

        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Ingresos Acumulados</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myAreaChart" style="display: block; width: 413px; height: 320px;" width="413" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Porcentaje de Ingresos/Egresos vs Total</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myPieChart" width="276" height="245" style="display: block; width: 276px; height: 245px;" class="chartjs-render-monitor"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Ingresos (%)
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Egresos (%)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="display: flex;">
                        <!-- Costos Pie Chart -->
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Egresos Subcentro de Costos</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3>{% for item in top_3_egresos_centrocostos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma_valor}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p>
                                            {% for item in top_3_egresos_centrocostos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.sub_centro_costo}}
                                            {% endif %}
                                            {% endfor %} </p>
                                        </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody>
                                                
                                                {% for uprod in top_3_egresos_centrocostos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.sub_centro_costo}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.sub_centro_costo}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-success rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Ingreso Unidades Productivas</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3>{% for item in top_3_ingresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p>
                                            {% for item in top_3_ingresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.unidad_productiva}}
                                            {% endif %}
                                            {% endfor %} </p>
                                        </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody>
                                                
                                                {% for uprod in top_3_ingresos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.unidad_productiva}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.suma}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-success rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5" style="flex: 1; display: flex; flex-direction: column;">
                            <div class="card shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Egreso Unidades Productivas</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                                                            </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                    
                                    <div class="text-center">
                                        <div class="mb-4">
                                            <i class="bx bx-map-pin text-primary display-4"></i>
                                        </div>
                                        <h3>{% for item in top_3_egresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.suma}}
                                            {% endif %}
                                            {% endfor %}</h3>
                                        <p>
                                            {% for item in top_3_egresos %}
                                            {% if forloop.counter == 1 %}
                                            {{item.unidad_productiva}}
                                            {% endif %}
                                            {% endfor %} </p>
                                    </div>
                    
                                    <div class="table-responsive mt-4">
                                        <table class="table align-middle table-nowrap">
                                            <tbody>
                                                
                                                {% for uprod in top_3_egresos %}
                                                <tr>
                                                    <td style="width: 30%">
                                                        <p class="mb-0">{{uprod.unidad_productiva}}</p>
                                                    </td>
                                                    <td style="width: 25%">
                                                        <h5 class="mb-0">{{uprod.suma}}</h5>
                                                    </td>
                                                    <td>
                                                        <div class="progress bg-transparent progress-sm">
                                                            <div class="progress-bar bg-danger rounded" role="progressbar"
                                                                style="width: {{uprod.with}}%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->

    
    <!-- End of Page Wrapper -->

    

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>-->
    <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>

    



</body>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
// *     example: number_format(1234.56, 2, ',', ' ');
// *     return: '1 234,56'
number = (number + '').replace(',', '').replace(' ', '');
var n = !isFinite(+number) ? 0 : +number,
prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
s = '',
toFixedFix = function(n, prec) {
var k = Math.pow(10, prec);
return '' + Math.round(n * k) / k;
};
// Fix for IE parseFloat(0.55).toFixed(0) = 0;
s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
if (s[0].length > 3) {
s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
}
if ((s[1] || '').length < prec) {
s[1] = s[1] || '';
s[1] += new Array(prec - s[1].length + 1).join('0');
}
return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
type: 'line',
data: {
    labels: [{%for data in fechas %}'{{data}}',{% endfor %}],
datasets: [{
    label: "Ingresos acumulados",
    lineTension: 0.3,
    backgroundColor: "rgba(78, 115, 223, 0.05)",
    borderColor: "rgba(78, 115, 223, 1)",
    pointRadius: 3,
    pointBackgroundColor: "rgba(78, 115, 223, 1)",
    pointBorderColor: "rgba(78, 115, 223, 1)",
    pointHoverRadius: 3,
    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
    pointHitRadius: 10,
    pointBorderWidth: 2,
    data: [{%for data in ingresos_chart %}{{ data }}, {% endfor %}],
},
{
    label: "Egresos acumulados",
    lineTension: 0.3,
    backgroundColor: "rgba(78, 115, 223, 0.05)",
    borderColor: "rgb(217, 3, 104)",
    pointRadius: 3,
    pointBackgroundColor: "rgb(217, 3, 104)",
    pointBorderColor: "rgb(217, 3, 104)",
    pointHoverRadius: 3,
    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
    pointHoverBorderColor: "rgb(217, 3, 104)",
    pointHitRadius: 10,
    pointBorderWidth: 2,
    data: [{%for data in egresos_chart %}{{ data }}, {% endfor %}]
}],
},
options: {
    maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
                right: 25,
                    top: 25,
                        bottom: 0
        }
    },
    scales: {
        xAxes: [{
            time: {
                unit: 'date'
            },
            gridLines: {
                display: false,
                drawBorder: false
            },
            ticks: {
                maxTicksLimit: 7
            }
        }],
            yAxes: [{
                ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                    // Include a dollar sign in the ticks
                    callback: function (value, index, values) {
                        return '$' + number_format(value);
                    }
                },
                gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                }
            }],
},
    legend: {
        display: false
    },
    tooltips: {
        backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
                titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                        titleFontSize: 14,
                            borderColor: '#dddfeb',
                                borderWidth: 1,
                                    xPadding: 15,
                                        yPadding: 15,
                                            displayColors: false,
                                                intersect: false,
                                                    mode: 'index',
                                                        caretPadding: 10,
                                                            callbacks: {
            label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
    }
}
});


</script>

<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Ingresos","Egresos"],
        datasets: [{
            data: [{{ pie_ingresos }}, {{ pie_egresos }}],
            backgroundColor: ['#1cc88a','#ef233c'],
            hoverBackgroundColor: ['#1cc88a','#ef233c'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
        },
        legend: {
            display: false
        },
        cutoutPercentage: 80,
    },
});

</script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    const colores = ['#ff0000','#ff8700','#ffd300','#deff0a','#a1ff0a','#0aff99','#0aefff','#147df5','#580aff','#be0aff']
    const labels = [{%for data in pie_centrocostos %}'{{ data.sub_centro_costo }}', {% endfor %}]
    const backgroundColor = [];
    for (i=0; i<labels.length;i++){
        const color = colores[Math.floor(Math.random() * 10)];
        backgroundColor.push(color)

        console.log(color)
    }
    // Pie Chart Example
    var ctx = document.getElementById("costosPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: [{%for data in pie_centrocostos %}{{ data.suma_valor }}, {% endfor %}],
                backgroundColor: backgroundColor,
                hoverBackgroundColor: backgroundColor,
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: true
            },
            cutoutPercentage: 80,
        },
    });
    
    </script>


{% endblock %}