{% extends "./index.html" %}

{% load static %}

{% block body %}
{% load auth_extras %}

<body onload="precargarValores()">

    
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            <div class="registration-form" style="background-color: #fff;max-width: 600px;
                                                        margin: auto;
                                                        padding: 50px 70px;
                                                        border-top-left-radius: 30px;
                                                        border-top-right-radius: 30px;
                                                        border-bottom-left-radius: 30px;
                                                        border-bottom-right-radius: 30px;
                                                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);">

                {% if 'IN' == movimiento.tipo_ingreso and True == movimiento.ingreso_bancario %}
                <form action="{{ server_url }}registraringreso/" method="POST" onsubmit="convertToNumber()">
                    {% csrf_token %}
                    <h1 class="text-center text-sm-center lead mb-3"><b>Formulario de Movimiento de Ingresos Bancarios</b></h1>
                
                    {% if user.is_authenticated and user|has_group:"Administrador" %}
                    <label for="centro_costo">Selecciona la unidad de negocio</label>
                    <select id="centro_costo" name="centro_costo" class="col-auto mb-3" style="width: 100%;" required>
                        {% for centro in centros %}
                        <option value="{{ centro }}">{{ centro }}</option>
                        {% endfor %}
                    </select>
                
                    <label for="sub_centro_costo">Selecciona la unidad productiva</label>
                    <select id="sub_centro_costo" name="sub_centro_costo" class="col-auto mb-3" style="width: 100%;" required disabled>
                        {% for opcion in subcentros %}
                        <option value="{{ opcion }}">{{ opcion }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                
                    {% if user.is_authenticated and user|has_group:"Comun" %}
                    <label for="unidad_productiva">Selecciona la unidad productiva</label>
                    <select id="unidad_productiva" name="unidad_productiva" class="col-auto mb-3" style="width: 100%;" required
                        disabled>
                        <option value="{{ movimiento.unidad_productiva.pk }}">{{ movimiento.unidad_productiva.nombre }}</option>
                    </select>
                    {% endif %}
                
                    <label for="fecha_registro" class="mb-3">Seleccione la fecha del registro:</label>
                    <input type="date" id="fecha_registro" name="fecha_registro" style="width: 100%; box-sizing: border-box;"
                        class="input-group mb-3" required>
                
                    <label for="opciones">Selecciona el tipo de ingreso</label>
                    <select id="opciones" name="opciones" onchange="mostrarSelect()">
                        <option value="Aporte de Socios">Aporte de Socios</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Rendimientos Financieros">Rendimientos Financieros</option>
                    </select>
                
                    <div id="selectVentas" name="selectVentas" style="display: none;">
                        <label for="tipoVentas">Selecciona el tipo de ventas:</label>
                        <select id="tipoVentas" name="tipoVentas">
                            <!-- Las opciones se cargarán dinámicamente mediante la solicitud AJAX -->
                        </select>
                    </div>
                
                    <label for="doc_type" class="mb-3">Seleccione el tipo de Documento:</label>
                    <select class="form-select form-select-lg mb-3" style="width: 100%; box-sizing: border-box;"
                        aria-label=".form-select-lg example" id="doc_type" name="tipo_doc" required>
                        <option value="CC">Cédula</option>
                        <option value="NIT">NIT</option>
                        <option value="CE">Cédula de Extrangería</option>
                    </select>
                
                    <label for="num_doc" class="col-form-label">Numero de Documento:</label>
                    <input type="text" id="num_doc" name="num_doc" class="form-control" aria-labelledby="passwordHelpInline" required>
                
                    <label for="negociacion" class="col-form-label">Detalle de la negociación:</label>
                    <textarea class="form-control" placeholder="Ingresa aquí el Detalle de la negociación" id="negociacion"
                        name="negociacion" required></textarea>
                
                    <div class="form-floating mb-3">
                        <label for="costo_valor" class="col-form-label mb-3">Valor</label>
                        <input type="text" name="costo_valor" id="costo_valor" class="form-control" placeholder="0.00"
                            style="width: 100%; box-sizing: border-box;" onkeyup="formatCurrency(this)" required>
                    </div>
                
                    <label for="soporte">Adjunte el soporte:</label>
                    <input type="file" id="soporte" name="soporte"><br><br>
                
                    <div class="form-floating mb-3">
                        <label for="concepto">Concepto</label>
                        <textarea class="form-control" placeholder="Ingresa aquí el concepto" id="concepto" name="concepto"
                            required value = "{{ movimiento.concepto }}"></textarea>
                    </div>
                
                    <input type="hidden" name="ingreso_bancario" id="ingreso_bancario" value="True">
                
                    <script>
                        function precargarValores() {
                            // Precargar valores del movimiento
                            document.getElementById('centro_costo').value = "{{ movimiento.centro_costo }}";
                            document.getElementById('sub_centro_costo').value = "{{ movimiento.sub_centro_costo }}";
                            document.getElementById('fecha_registro').value = "{{ movimiento.fecha_registro }}";
                            document.getElementById('opciones').value = "{{ movimiento.opciones }}";
                            document.getElementById('doc_type').value = "{{ movimiento.tipo_doc }}";
                            document.getElementById('num_doc').value = "{{ movimiento.num_doc }}";
                            document.getElementById('negociacion').value = "{{ movimiento.negociacion }}";
                            document.getElementById('costo_valor').value = "{{ movimiento.costo_valor }}";
                            document.getElementById('concepto').value = "{{ movimiento.concepto }}";
                            // ... Precargar otros valores aquí ...
                            
                        }
                    </script>
                    <input class="btn btn-block btn-success" style="color: #fff;" type="submit" value="Registrar ingreso">
                    
                </form>

                {% elif 'IN' == movimiento.tipo_ingreso and False == movimiento.ingreso_bancario %}
                
                {% elif 'OUT' == movimiento.tipo_ingreso %}
                


                {% endif %}
            </div>
        </div>
        <div class="col-sm-2"></div>


    

    
</body>

</div>
<script>
    function activarDesactivarInputs() {
        var checkbox = document.getElementById("activarInputs");
        var inputs = document.getElementsByTagName("input");
        var textareas = document.getElementsByTagName("textarea");
        var selects = document.getElementsByTagName("select");

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type !== "checkbox") {
                inputs[i]. = !checkbox.checked;
            }
        }

        for (var i = 0; i < textareas.length; i++) {
            if (textareas[i].type !== "checkbox") {
                textareas[i]. = !checkbox.checked;
            }
        }
        for (var i = 0; i < selects.length; i++) {
            if (selects[i].type !== "checkbox") {
                selects[i]. = !checkbox.checked;
            }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script>
    var checkbox = document.getElementById('billCheck');
    var seccion = document.getElementById('seccion');
    var billNumber = document.getElementById('billNumber');
    var soporte = document.getElementById('soporte');
    var factura_check = document.getElementById('factura_check');


    checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
            billNumber.required = true;
            soporte.required = true;
            factura_check.value = true;
            seccion.style.display = 'block';
        } else {
            billNumber.required = false;
            soporte.required = false;
            factura_check.value = false;
            seccion.style.display = 'none';
        }
    });
</script>

<script>
    var centro_costo = document.getElementById('centro_costo');
    var sub_centro_costo = document.getElementById('sub_centro_costo');
    var subcentros = "{{centros}}";
    subcentros = subcentros.replace(/&#x27;/g, '"');
    subcentros = subcentros.replace(/""/g, "''");
    subcentros = subcentros.replace(/None/g, '"none"');
    subcentros = JSON.parse(subcentros);
    centro_costo.addEventListener('change', function () {
        var seleccion = centro_costo.value;
        sub_centro_costo.innerHTML = '';
        subcentros[seleccion].forEach(function (data_centros_id, opcion) {
            var opcion_html = '<option value="' + opcion + '">' + data_centros_id + '</option>';
            sub_centro_costo.innerHTML += opcion_html;
        });
    });
    // Cargar el primer centro de costo y sus subcentros correspondientes
    var primerCentroCosto = centro_costo.options[1].value; // Obtener el valor del primer centro de costo (asumiendo que el índice 1 corresponde al primero)
    cargarSubcentros(primerCentroCosto); // Llamar a la función para cargar los subcentros correspondientes al primer centro de costo

    // Función para cargar los subcentros de costo correspondientes a un centro de costo seleccionado
    function cargarSubcentros(centroSeleccionado) {
        sub_centro_costo.innerHTML = ''; // Limpiar las opciones anteriores
        subcentros[centroSeleccionado].forEach(function (data_centros_id, opcion) {
            var opcion_html = '<option value="' + opcion + '">' + data_centros_id + '</option>';
            sub_centro_costo.innerHTML += opcion_html;
        });
    }

    // Disparar el evento de cambio manualmente para cargar las opciones de subcentro de costo correspondientes al primer centro de costo
    centro_costo.dispatchEvent(new Event('change'));

</script>
</body>{% endblock %}

</html>