{% extends "./index.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
{%load static%}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Importa jQuery -->
</head>

<div class="container text-left">


    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 p-3 col-xl-12">
            <div class="registration-form" style="background-color: #fff;max-width: 600px;
                                margin: auto;
                                padding: 60px 20px;
                                border-top-left-radius: 30px;
                                border-top-right-radius: 30px;
                                border-bottom-left-radius: 30px;
                                border-bottom-right-radius: 30px;
                                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);">
                <form action="{{server_url}}registraregreso/" method="POST" enctype="multipart/form-data" onsubmit="convertToNumber()"> {% csrf_token %}
                    <h1 class="text-center text-sm-center lead mb-3" style="color: black;"><b>Formulario de Movimiento
                            de Egresos</b>
                    </h1>

                    <label>Selecciona la unidad productiva</label>
                    <select id="unidad_productiva" name="unidad_productiva" class="col-auto mb-3" style="width:100%;"
                        aria-label="Default select example" required autocomplete="off">
                        {% for unidad_productiva in unidades_productivas %}
                        <option value="{{unidad_productiva.id}}">{{unidad_productiva.nombre}}</option>
                        {% endfor %}
                    </select>

                    <label>Selecciona el Centro de Costos</label>
                    <select id="centro_costo" name="centro_costo" class="col-auto mb-3" style="width:100%;"
                        aria-label="Default select example" required autocomplete="off"></select>

                    <label>Selecciona el Subcentro de Costos</label>
                    <select id="sub_centro_costo" name="sub_centro_costo" class="col-auto mb-3" style="width:100%;"
                        aria-label="Default select example" required autocomplete="off"></select>
                    <!-- <label>Seleccione la fecha del registro:</label>
                    <input type="date" id="fecha_registro" name="fecha_registro"
                        style="width:100%; box-sizing: border-box;" class="input-group mb-3" required> -->

                    <label for="inputPassword6" class="col-form-label mb-3">Ingrese el Nombre del Proveedor:</label>
                    <input type="text" id="nom_provedor" name="nom_provedor" class="form-control"
                        style="width:100%; box-sizing: border-box;" required autocomplete="off">
                    <br>
                    <label class="mb-3">Seleccione el tipo de Documento:</label>
                    <select class="form-select form-select-lg mb-3" style="width:100%; box-sizing: border-box;"
                        aria-label=".form-select-lg example" id="doc_type" name="tipo_doc" required autocomplete="off">
                        <option value="CC">Cédula</option>
                        <option value="NIT">NIT</option>
                        <option value="CE">Cédula de Extrangería</option>
                    </select>

                    <label for="inputPassword6" class="col-form-label">Numero de Documento:</label>
                    <input type="text" id="num_doc" name="num_doc" class="form-control"
                        aria-labelledby="passwordHelpInline" required autocomplete="off">


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="billCheck" name="billCheck" autocomplete="off">
                        <label class="form-check-label" for="flexCheckDefault">
                            <input type="hidden" id="factura_check" name="factura_check" value="false">
                            Tiene factura:
                        </label>
                    </div>

                    <div id="seccion" style="display: none;">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Digite el número de factura:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="billNumber" name="num_factura" class="form-control"
                                    aria-labelledby="passwordHelpInline" autocomplete="off">
                            </div>
                        </div>

                        <label>Adjunte el soporte:</label>
                        <input type="file" id="soporte" name="soporte"><br><br>
                        <!-- <input type="submit" value="Subir Archivo"> -->


                    </div>

                    <div class="form-floating  mb-3">
                        <label for="inputPassword6" class="col-form-label mb-3">Valor</label>
                        <input type="text" name="costo_valor" id="costo_valor" class="form-control" placeholder="0.00"
                                style="width:100%; box-sizing: border-box;" onkeyup="formatCurrency(this)" required autocomplete="off">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Digite el concepto:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="concepto"
                            rows="3" autocomplete="off"></textarea>
                    </div>
                    <input type="hidden" name="ingreso_bancario" id="ingreso_bancario" value="False">

                    <input class="btn btn-block btn-success" style="color: #fff;" type="submit"
                        value="Registrar Egreso" autocomplete="off">



                </form>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
    $(document).ready(function() {
        // Evento de cambio en el select de unidad productiva
        $('#unidad_productiva').change(function() {
            var unidadProductivaId = $(this).val();
            // Realizar una petición AJAX para obtener los centros de costo
            $.ajax({
                url: '{{server_url}}get_centro_costos/',
                data: {
                    'unidad_productiva_id': unidadProductivaId
                },
                dataType: 'json',
                success: function(data) {
                    // Limpiar el select de centros de costo
                    $('#centro_costo').empty();
                    // Agregar las opciones al select de centros de costo
                    $.each(data, function(index, centroCosto) {
                        $('#centro_costo').append($('<option>', {
                            value: centroCosto.id,
                            text: centroCosto.nombre
                        }));
                    });
                    // Limpiar el select de subcentros de costo
                    $('#sub_centro_costo').empty();
                }
            });
        });
    
        // Evento de cambio en el select de centro de costo
        $('#centro_costo').change(function() {
            var centroCostoId = $(this).val();
            // Realizar una petición AJAX para obtener los subcentros de costo
            $.ajax({
                url: '{{server_url}}get_subcentro_costos/',
                data: {
                    'centro_costo_id': centroCostoId
                },
                dataType: 'json',
                success: function(data) {
                    // Limpiar el select de subcentros de costo
                    $('#sub_centro_costo').empty();
                    // Agregar las opciones al select de subcentros de costo
                    $.each(data, function(index, subCentroCosto) {
                        $('#sub_centro_costo').append($('<option>', {
                            value: subCentroCosto.id,
                            text: subCentroCosto.nombre
                        }));
                    });
                }
            });
        });
    });
    </script>
    


<script>
    var checkbox = document.getElementById('billCheck');
    var seccion = document.getElementById('seccion');
    var billNumber = document.getElementById('billNumber');
    var soporte = document.getElementById('soporte');
    var factura_check = document.getElementById('factura_check');



    checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
            billNumber.required = true;
            soporte.required = true;
            factura_check.value = true;
            seccion.style.display = 'block';
        } else {
            billNumber.required = false;
            soporte.required = false;
            factura_check.value = false;
            seccion.style.display = 'none';
        }
    });
</script>


<script>
    function formatCurrency(input) {
        // Obtener el valor ingresado por el usuario
        let value = input.value;

        // Eliminar cualquier caracter que no sea un número o un punto decimal
        value = value.replace(/[^0-9.]/g, '');

        // Dividir la parte entera y la parte decimal
        let parts = value.split('.');
        let integerPart = parts[0];
        let decimalPart = parts.length > 1 ? '.' + parts[1] : '';

        // Agregar comas cada tres dígitos en la parte entera
        integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Formatear el valor con comas, puntos y comillas
        let formattedValue = '$ ' + integerPart + decimalPart ;

        // Asignar el valor formateado al input
        input.value = formattedValue;
    }

    



</script>
<script>
    function convertToNumber() {
        let input = document.getElementById('costo_valor');
        let value = input.value.replace(/[^0-9.]/g, '');
        input.value = parseFloat(value);
    }
</script>

<!-- <script>
    $(document).ready(function() {
        var opcionSeleccionada = $(this).val();  // Obtiene la opción seleccionada
        $.ajax({
                url: '{{ server_url }}dispo_caja_egresos/',  // Reemplaza 'URL_DE_LA_API' con la URL real de la API que deseas llamar
                method: 'GET',
                data: {
                    opcion: opcionSeleccionada  // Envía la opción seleccionada como parámetro en la solicitud GET
                },
                success: function(response) {
                    // Datos de caja
                    $('#egresos_caja').html(response.Egresos_caja);
                    $('#disponible_caja').html(response.Disponible_caja);
                    $('#ingresos_caja').html(response.Ingresos_caja);
                    //Datos bancarios
                    $('#egresos_bancarios').html(response.Egresos_bancarios);
                    $('#disponible_bancarios').html(response.Ingresos_bancarios);
                    $('#ingresos_bancarios').html(response.Saldo_bancario);
                },
                error: function() {
                    // Maneja el error de alguna manera según tus necesidades
                    $('#egresos_caja').html('$0.00');
                    $('#disponible_caja').html('$0.00');
                    $('#ingresos_caja').html('$0.00');
                    $('#egresos_bancarios').html('$0.00');
                    $('#disponible_bancarios').html('$0.00');
                    $('#ingresos_bancarios').html('$0.00');
                }
            });
    });
</script> -->

<script>
    $(document).ready(function() {
        $('#unidad_productiva').on('change', function() {
            var opcionSeleccionada = $(this).val();  // Obtiene la opción seleccionada

            // Realiza la solicitud AJAX
            $.ajax({
                url: '{{ server_url }}dispo_caja_egresos/',  // Reemplaza 'URL_DE_LA_API' con la URL real de la API que deseas llamar
                method: 'GET',
                data: {
                    opcion: opcionSeleccionada  // Envía la opción seleccionada como parámetro en la solicitud GET
                },
                success: function(response) {
                    // Datos de caja
                    $('#egresos_caja').html(response.Egresos_caja);
                    $('#disponible_caja').html(response.Disponible_caja);
                    $('#ingresos_caja').html(response.Ingresos_caja);
                    //Datos bancarios
                    $('#egresos_bancarios').html(response.Egresos_bancarios);
                    $('#ingresos_bancarios').html(response.Ingresos_bancarios);
                    $('#disponible_bancarios').html(response.Saldo_bancario);
                },
                error: function() {
                    // Maneja el error de alguna manera según tus necesidades
                    $('#egresos_caja').html('No se pudieron obtener los datos.');
                    $('#disponible_caja').html('No se pudieron obtener los datos.');
                    $('#ingresos_caja').html('No se pudieron obtener los datos.');
                    $('#egresos_bancarios').html('No se pudieron obtener los datos.');
                    $('#disponible_bancarios').html('No se pudieron obtener los datos.');
                    $('#ingresos_bancarios').html('No se pudieron obtener los datos.');
                }
            });
        });
    });
</script>

{% endblock %}